@model IEnumerable<QuanLyDiem.Models.HOCSINH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Học Sinh</h2>

<p>
    @Html.ActionLink("Tạo Mới Dữ Liệu", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <label>Mã Học Sinh</label>
        </th>
        <th>
            <label>Tên Học Sinh</label>
        </th>
        <th>
            <label>Năm Sinh</label>
        </th>
        <th>
            <label>Lớp</label>
        </th>
        <th>
            <label>Thao tác</label>
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MaHS)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TenHS)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NamSinh)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Lop)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.MaHS }) |
        @Html.ActionLink("Details", "Details", new { id = item.MaHS }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.MaHS })
    </td>
</tr>
}

</table>
