@model IEnumerable<QuanLyDiem.Models.GIAOVIEN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Giáo Viên</h2>

<p>
    @Html.ActionLink("Tạo Mới Dữ Liệu", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <label>Mã Giáo Viên</label>
        </th>
        <th>
            <label>Tên Giáo Viên</label>
        </th>
        <th>
            <label>Năm Sinh</label>
        </th>
        <th>
            <label>Mã Môn Học</label>
        </th>
        <th>
            <label>Số Điện Thoại</label>
        </th>
        <th>
            <label>Thao Tác</label>
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MaGV)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HoTenGV)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NamSinh)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MaMon)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SoDT)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.MaGV }) |
        @Html.ActionLink("Details", "Details", new { id = item.MaGV }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.MaGV })
    </td>
</tr>
}

</table>
