@model QuanLyDiem.Models.LOP

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa Dữ Liệu</h2>

<h3>Bạn Có Chắc Chắn Muốn Xóa Không?</h3>
<div>
    <h4>LOP</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lop)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Khoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Khoi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaGV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaGV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiSo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiSo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
